%h3
  Pairing matrix since #{1.month.ago.to_date}
- memberships = team.team_memberships.current.joins(:employee).order("employees.last_name ASC")
%table.table.table-striped.table-condensed.table-bordered.matrix-table
  %thead
    %tr
      %td
      - memberships.slice(1, memberships.length-1).each do |membership|
        %td
          = membership.name
  %tbody
    - memberships.slice(0, memberships.length-1).each_with_index do |left_membership, index|
      %tr
        %td.matrix-row-name{colspan: index+1}
          = left_membership.name
        - memberships.slice(index+1, memberships.length-1).each do |top_membership|
          - times_paired = team.times_paired(left_membership, top_membership)
          %td.matrix-row-paired-count{class: pairing_count_warning(times_paired), data: { pair: "#{left_membership.id},#{top_membership.id}" } }
            = times_paired

