%h3
  = @team.name
%br

#pairing-days.tab-pane
  = render(partial: 'pairing_days', locals: { team: @team })
#team-memberships.tab-pane
  = render(partial: 'team_memberships', locals: { team: @team })
#matrix.tab-pane
  = render(partial: 'matrix', locals: { team: @team })
= link_to("Back", teams_url)
