%h3
  = @team.name
%br

.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li.active
      = link_to("Pairing days", "#pairing-days", data: { toggle: 'tab' })
    %li
      = link_to("Team memberships", "#team-memberships", data: { toggle: 'tab' })
  .tab-content
    #pairing-days.tab-pane.active
      = render(partial: 'pairing_days', locals: { team: @team })
    #team-memberships.tab-pane
      = render(partial: 'team_memberships', locals: { team: @team })
= link_to("Back", teams_url)
