Company Membership request for #{@company.name}
===============================================

Name: #{@user.name}
Email: #{@user.email}

#{link_to("Approve", approve_membership_request_url(id: @hash_key))}
#{link_to("Deny", deny_membership_request_url(id: @hash_key))}

