- if user_signed_in?
  %h3
    = @company.name
  = render(partial: "companies/administration")

  - if (can? :create, @company.membership_requests.build) && user_signed_in? && (@company.membership_requests.where(user_id: current_user.id).all.empty?)
    = render(partial: "membership_requests/new", locals: { membership_request: @company.membership_requests.build })

  - if can? :read, @company
    %p
      = link_to("Employees", company_employees_path(@company))
      %br
      = link_to("Teams", company_teams_path(@company))

  = link_to("Back", companies_url)
- else
  Please #{link_to("sign in", sign_in_path)} to create an account.

