= render(partial: "shared/breadcrumb",
         locals: { company: @team_membership.team.company,
         team: @team_membership.team,
         team_membership: @team_membership })
%h3
  = @team_membership.employee.name
%br
= @team_membership.start_date
%br
= @team_membership.end_date
%br
%br
= link_to("Back", team_url(@team_membership.team))
